[submodule "deepconf"]
	path = deepconf
	url = https://github.com/facebookresearch/deepconf.git
	ignore = untracked
[submodule "gpt-oss"]
	path = gpt-oss
	url = https://github.com/openai/gpt-oss.git
	ignore = untracked
