# PDFs
*.pdf

# Zips
*.zip

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# API keys
*_api_key.txt

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

results/*